<div style="text-align:center;">
    <p>This web created base on project in "Real-Time web app dev - Rami Vemula" book but on .NET 5</p>
    <p>If you have any problems, please contact me:</p>
    <p>Name: Nguyen Linh Thanh Nhan</p>
    <p>Email: nguyenlinhthanhnhan@outlook.com</p>
</div>